
.footer {
    background-color: var(--color-bgd-dark);
    padding-bottom: 60px;
    padding-top: 60px;

&__logo {
    display: block;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (max-width: 1199px) {
    text-align: center;
    font-size: 24px;}
}

&__adress {
    font-style: normal;
    line-height: 1.7;

}
&__list-contacts {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
    margin-bottom: 0;
    }
}

&__item {
 margin-bottom: 8px;

@media screen and (min-width: 1200px) {
    margin-bottom: 9px;}

}

&__item:last-child {
    
    margin-bottom: 0;
}

&__map {
    color: var(--color-brand);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    color: var(--color-accent);
}
}

&__contacts {
    color: var(--color-brand-secondary);
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (max-width: 1199px) {
        display: block;
    }
    
}

&__networks-title {
    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
    text-align: center;}
}

&__container {

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;}


}
&__container-contacts {
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    }
}

&__networks {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
     margin-bottom: 0;
    }
    
    @media screen and (min-width: 1200px) {
    margin-left: 70px;}
}


&__form {
    
    @media screen and (max-width: 1199px) {
    text-align: center;}

   @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;}    
    
   
}
&__form-title {
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--color-brand);
    margin-bottom: 20px;
    margin-top: 0;
}
&__form-container {
  @media screen and (max-width: 1199px) {
    align-items: center;
}
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;}

}
&__input {
    width: 100%;
    padding: 15px 16px;
    background-color: var(--color-bgd-dark);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    color: var(--color-brand-secondary);
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.2;
    margin-right: 12px;
    margin-bottom: 20px;


    @media screen and (min-width: 768px) {
        max-width: 450px;
    }

    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    
    }
} 
&__button {
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;


    
}
}