.form {
padding: 40px 39px 40px 41px;

&__signup {
 border: none;
 padding: 0;
 margin: 0;
 margin-bottom: 20px;
}
&__title {
font-weight: 700;
font-size: 20px;
text-align: center;
line-height: 1.1;
color: var(--color-secondary);
margin-bottom: 12px;
}
&__label {
display: block;
font-size: 12px;
line-height: 1.1;
letter-spacing: 0.01em;
color: var(--color-primary);
margin-bottom: 4px;
}
&__content {
position: relative;
    margin-bottom: 10px;
}
&__icon {
position: absolute;
left: 12px;
top: 50%;
transform: translateY(-50%);
fill: var(--color-secondary);
}
&__input {
width: 100%;
font: inherit;
outline: none;
padding: 11px 12px 11px 42px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.2);
cursor: pointer;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    border-color: var(--color-accent);
}

}


&__textarea {
width: 100%;
height: 120px;
outline: none;
padding: 12px 16px;
 border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.2);
font-size: 14px;
color: var(--color-textarea);
letter-spacing: 0.01em;
resize: none;

@media screen and (min-width: 768px) {
    font-size: 12px;
}

}


&__checkbox {
display: flex;
align-items: center;
margin-bottom: 30px;
margin-left: 13px;
}

&__input-checkbox {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
}
&__icon-checkbox {
position: absolute;
background-color: var(--color-brand);
fill: var(--color-brand);
border: 2px solid var(--color-secondary);
border-radius: 2px;
}
&__label-checkbox {
position: relative;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.03em;
padding-left: 23px;


@media screen and (min-width: 768px) {
font-size: 14px;
line-height: 1.7;
}
}
&__link {
color: var(--color-accent);
text-decoration: underline;
}
&__button {
width: 200px;
height: 50px;
margin: 0 auto;
display: block;
padding: 10px 52px;
 }


&__input:hover+&__icon,
&__input:focus+&__icon {
    fill: var(--color-accent);
}
&__input-checkbox:checked+&__icon-checkbox {
    background-color: var(--color-accent);
    border: none;
}
}