.networks {
    display: flex;
    justify-content: center;
    gap: 10px;

&__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand);
    border-radius: 50%;
    color: var(--color-icon-primary);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&--color {
    color: var(--color-brand);
    background-color: rgba(255, 255, 255, 0.1);
}

&:hover,
&:focus {
    background-color: var(--color-accent);
    color: var(--color-brand);
}
}
&__icon {
    fill: currentColor;
}

&__item {
    width: 44px;
    height: 44px;
    align-items: baseline;
}
}