
.portfolio {
    
@media screen and (min-width: 768px) {
display: flex;
flex-wrap: wrap;
gap: 30px;}


&__item {
background-color: var(--color-brand);

@media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
}

}
&__item:not(last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

&__link {
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 100%;
    flex-direction: column;
    display: flex;
}


&:hover,
&:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

}

&__wrap {
position: relative;
overflow: hidden;

}
&__overley {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

padding: 63px 24px;

font-size: 18px;
line-height: 1.5;
color: var(--color-brand);
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__text {
margin: auto;
}
&__card {
 padding: 20px 24px;
 width: 100%;
border-bottom: 1px solid var(--color-solid-portfolio);
border-left: 1px solid var(--color-solid-portfolio);
border-right: 1px solid var(--color-solid-portfolio);
flex-grow: 1;
}
&__title {
margin-top: 0;
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
&__data {
color: var(--color-primary);
font-size: 16px;
line-height: 1.9;
margin: 0 0;
}

&__link:hover &__overley,
&__link:focus &__overley {
    transform: translateY(0);}
}